		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

		<header id="masthead" class="site-header" role="banner">
			<div class="navcont">
				<div class="site-branding">
					<div class="site-title" style="margin:8px 0 0 6px;">
						<a href="/" rel="home">
							<img src="/assets/images/brand/Great-American-Power_logo.png" height="72.5px" width="200px" alt="Great American Power"/>
						</a>
					</div>
					<p class="site-description">Great American Power</p>
				</div>

				<nav id="site-navigation" class="main-navigation" role="navigation">
					<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Menu</button>
					<div class="primary-menu">
						<ul id="primary-menu" class="menu">
							<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/">Home</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom">
								<a href="/enroll/">Enroll</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom">
								<a href="/blog/">Blog</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom">
								<a href="/faq-frequently-asked-questions-energy-electricity/">FAQ</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom">
								<a href="/contact-us-customer-service/">Contact Us</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>