<div class="offersidebar">
	<h3>Call us with your questions!</h3>
	<h4>(877) 383-9787<br>
		8am-5pm EST Mon-Fri</h4>
	<a href="mailto:energy@greatamericanpower.com">Email</a> | <a href="/faq-frequently-asked-questions-energy-electricity">View FAQs</a>
	<hr>
	{% set quote = craft.entries()
		.section('quotes')
		.limit(1)
		.orderBy('RAND()')
	%}
	{% set entries = quote.all() %}
	{% for entry in entries %}
	<blockquote style="padding-left:0;">"{{ entry.quoteMain }}"</blockquote>
	<em style="float:right;">- {{ entry.quoteName }}, {{ entry.quoteLocation }}</em>
	{% endfor %}
</div>
