{% if craft.request.getQueryParam('promo') is defined %}
{% set promo = craft.request.getQueryParam('promo') %}
{% else %}
{% set promo = '' %}
{% endif %}										

<div class="theme-green">
	<form method="post" action="/enroll/residential-select-plan/" id="enrollZip" data-url="/enroll/zips/">
		
		{{ csrfInput() }}
		<input type="hidden" id="utility_type" name="utility_type" value="E">
		<input type="hidden" id="referral_id" name="referral_id" value="{{ referral_idGo }}">
		
		<div class="form-body">
			<div class="frm-row">
				<div class="colm colm12">
					{% if craft.app.request.getSegment(1) == "enroll" and craft.app.request.getSegment(2) != "" %}
					<div class="section">
						<div id="plan_alert" class="notification alert-error spacer-t10">
							<p style="padding-bottom:0;">Great American Power does not currently offer service in your area, but we will in the future. If you believe this is a mistake, please try again or try another zip code. </p>
						</div>
					</div>
					{% elseif zipGo == "" %}
					<div class="section">
						<div id="plan_alert" class="notification alert-info spacer-t10">
							<p style="padding-bottom:0;"> Enter Your Zip Code to Get Started </p>
						</div>
					</div>
					{% elseif rev_typeGo == "C" %}
					<div class="section">
						<div id="plan_alert" class="notification alert-error spacer-t10">
							<p style="padding-bottom:0;">Great American Power does not currently offer commercial service in your area, but we will in the future. </p>
						</div>
					</div>
					{% else %}
					<div class="section">
						<div id="plan_alert" class="notification alert-info spacer-t10">
							<p style="padding-bottom:0;"> Enter Your Zip Code to Get Started </p>
						</div>
					</div>
					{% endif %}
					
					<div class="section align-left">
						<label id="zipbox" class="field">
							<input type="text" name="zip" id="zip" class="form-control gui-input"
								data-rule-required="true" 
								data-msg-required="Please enter a US zip code." 
								data-rule-zipcodeUS="true" 
								data-msg-zipcodeUS="Please enter a valid US zip code."
								placeholder="Zip Code"
								value=""
							>
						</label>
					</div>
					<div class="section align-right">
						<label id="promobox" class="field">
							<input type="text" name="proo" id="promo" class="form-control gui-input"
								data-rule-required="true" 
								data-msg-required="Enter your promo code (optional)." 
								placeholder="Promo Code"
								value=""
							>
						</label>
					</div>
					
					<div id="zipFilter" class="section align-left">
					</div>

					<div class="section align-left">
						<label class="field select">
							<select id="rev_type" name="rev_type"
								data-rule-required="true" 
								data-msg-required="Please select a service type.">
								<option value="">Service Type</option>
								<option value="Residential">Residential</option>
								<option value="Commercial">Commercial</option>
							</select>
							<i class="arrow double"></i>                    
						</label>  
					</div>
					
					<div class="section">
						{% if craft.app.request.getSegment(1) == "" %}
						<button type="submit" class="button block full-width btn-blue"> Next </button>
						{% else %}
						<button type="submit" class="button block full-width btn-green"> Next </button>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</form>
</div>